<div class="right-panel-wrapp">
  <div class="select-section">
    <span class="gray-label">TX Power</span><br>
    <div class="custom-select">
      <select (ngModelChange)="onTxChange(previousParams.tx); previousParams.tx = $event" [(ngModel)]="model.tx">
        <option [value]="4">High(4dBm)</option>
        <option [value]="6">Medium(-6dBm)</option>
        <option [value]="16">Low(-16dBm)</option>
      </select>
    </div>
  </div>
  <div class="radio-btn-section">
    <span class="gray-label">Radio</span>
    <label class="container">2.4 GHz
      <input (ngModelChange)="onRadioChange(previousParams.radio); previousParams.radio = $event"
             [(ngModel)]="model.radio" [value]="'2.4'" type="radio" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="container">5 GHz
      <input (ngModelChange)="onRadioChange(previousParams.radio); previousParams.radio = $event"
             [(ngModel)]="model.radio" [value]="'5'" type="radio">
      <span class="checkmark"></span>
    </label>
  </div>
  <hr>
  <div class="btn-section">
    <button (click)="save()" class="save-btn">Save</button>
    <button (click)="cancel()" class="cancel-btn">Cancel</button>
  </div>
  <div class="distance">
    <p>{{distance | toMeter}}m</p>
  </div>
</div>
