<div class="right-panel-wrapp">
  <div class="select-section">
    <span class="gray-label">TX Power</span><br>
    <div class="custom-select">
      <select>
        <option selected>High(4dBm)</option>
        <option>Medium(-6dBm)</option>
        <option>Low(-16dBm)</option>
      </select>
    </div>
  </div>
  <div class="radio-btn-section">
    <span class="gray-label">Radio</span>
    <form>
    <label class="container">2.4 GHz
      <input type="radio" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="container">5 GHz
      <input type="radio">
      <span class="checkmark"></span>
    </label>
    </form>
  </div>
  <hr>
  <div class="btn-section">
    <button class="save-btn">Save</button>
    <button class="cancel-btn">Cancel</button>
  </div>
</div>
